<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body id="body">
<div id="bdiv">
    <div id="mainContainer">
        <div id="container">
            <form id="inputForm"  th:action="@{/register}" th:object="${user}" method="post">
                <div class="container1">
                    <input class="input" type="email" placeholder="Введите email" required th:field="*{email}">
                </div>
                <div class="container1">
                    <input class="input" type="password" placeholder="Введите пароль" required th:field="*{password}">
                </div>
                <div class="container1">
                    <input class="input" type="password" placeholder="Повторите пароль" required th:field="*{confirmPassword}">
                </div>
                <div class="inputContainer">
                    <input class="inputButton" type="submit" value="Создать аккаунт">
                </div>
            </form>
        </div>
        <div id="nav">
            <a th:href="@{/}">На главную</a>
            <a th:href="@{/login}">Уже есть аккаунт? Войти</a>
        </div>
        <div id="error"  th:if="${error}">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>