<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
    <title>Title</title>
</head>
<body>
<div class="header"><h2>ePrime</h2></div>
<div class="navBody">
    <div class="nav">
        <a href="/market"><div>Товары</div></a>
        <a href="/sales"><div>Акции</div></a>
        <a href="https://t.me/wrotoftanks63"><div>Поддержка</div></a>
        <a href="https://t.me/wrotoftanks63"><div>О нас</div></a>
    </div>
    <div class="nav2">
        <div th:if="${isAdmin}">
            <a href="/admin"><div>ADMIN</div></a>
        </div>
        <a th:href="${path}"><div th:text="${username}"></div></a>
        <div th:if="${isAuth}">
            <form method="post" th:action="@{/logout}" >
                <input class="exit" type="submit" value="Выйти">
            </form>
        </div>
    </div>
</div>
<div class="mainContainer">
    <div class="container" th:if="${isOrder}">
        <div class="head"><h2>Корзина</h2></div>
        <table>
            <tr>
                <th colspan="2" id="firstTh"><h2>Товар</h2></th>
                <th id="secondTh"><h2>Цена</h2></th>
                <th></th>
            </tr>
            <tr th:each="order: ${orders}">
                <td><img th:src="${order.product.image_url}"></td>
                <td><h3 th:text="${order.product.product_name}"></h3></td>
                <td><h3 th:text="${order.product.product_price} + 'р.'"></h3></td>
                <td id="sideCol">
                    <form method="post" th:action="@{/delete}">
                        <input type="hidden" name="id" th:value="${order.id}">
                        <input type="hidden" name="email" th:value="${username}">
                        <input id="deleteButton" type="image" th:src="@{/images/delete.png}">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="emptyOrders" th:if="${!isOrder}">
        <h1>Корзина пуста</h1>
    </div>
    <div id="purchase" th:if="${isOrder}">
        <div id="pHead"><h2>Условия заказа</h2></div>
        <div>
            <a>Итого:</a>
        </div>
        <div class="final">
            <h2 th:text="${count}"></h2>
            <h2 th:text="${cost} + '₽'"></h2>
        </div>
        <div id="pButtonDiv">
            <button id="purchaseButton">Оплатить</button>
        </div>
    </div>
</div>
<div class="footer">
    <h2 align="center">сайт</h2>
</div>
</body>
</html>