<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/mainStyle.css}">
</head>
<body>

<div class="header">ePrime</div>
<div class="navBody">
<div class="nav">
    <a href=""><div>Товары</div></a>
    <a href=""><div>Акции</div></a>
    <a href=""><div>Поддержка</div></a>
    <a href=""><div>О нас</div></a>
</div>
<div class="nav2">
    <form method="post" th:action="@{/logout}" >
        <input id="exit" type="submit" value="Выйти">
    </form>
</div>
</div>

<div id="menu">
    <div th:each="product: ${products}" class="product-item" id="product">
        <h2 th:text="${product.product_name}"></h2>
        <p th:text="${product.description}"></p>
        <img th:src="${product.image_url}" alt="image of" th:alt="${product.product_name    }">
        <p th:text="${product.product_price}"></p>
    </div>
</div>
</body>
</html>