<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/mainStyle.css}">
</head>
<body>

<div class="header"><h2>ePrime</h2></div>
<div class="navBody">
<div class="nav">
    <a href="/market"><div>Товары</div></a>
    <a href="/sales"><div>Акции</div></a>
    <a href="https://t.me/wrotoftanks63"><div>Поддержка</div></a>
    <a href="https://t.me/wrotoftanks63"><div>О нас</div></a>
</div>
<div class="nav2">
    <div th:if="${isAdmin}">
        <a href="/admin"><div>ADMIN</div></a>
    </div>
    <a th:href="${path}"><div th:text="${username}"></div></a>
    <div th:if="${isAuth}">
    <form method="post" th:action="@{/logout}" >
        <input class="exit" type="submit" value="Выйти">
    </form>
    </div>
</div>
</div>
<div id="container">
    <div id="sideMenu"></div>
<div id="menu">
    <div id="sortContainer">
        <form method="get" th:action="@{${pagePath}}" id="sortMenu">
            <label for="select">Сортировать</label>
            <select id="select" name="sort" onchange="this.form.submit()" onfocus="this.form.option[1].display:none">
                <option disabled selected><a th:text="${currentOption}"></a></option>
                <option value=""><a>по умолчанию</a></option>
                <option value="increase"><a>по возрастанию</a></option>
                <option value="decrease"><a>по убыванию</a></option>
            </select>
        </form>
    </div>
    <div id="productContainer">
    <div th:each="product: ${products}" class="product-item" id="product" >
        <h2 th:text="${product.product_name}"></h2>
        <div id="imagediv">
            <img th:src="${product.image_url}" alt="image of" th:alt="${product.product_name}">
        </div>
        <div id="descripdiv">
            <p th:text="${product.description}"></p>
        </div>
        <div id="pricediv">
            <h3 th:text="${product.product_price} + ' руб.'"></h3>
        </div>
        <form method="post" th:action="@{/order}">
            <input type="hidden" th:name="productId" th:value="${product.id}">
            <input class="buy" type="submit" value="Заказать">
        </form>
    </div>
    <div id="productErrorDiv" th:if="${fail_load}">
        <h2>Ошибка загрузки на стороне сервера</h2>
    </div>
    </div>
</div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const products = document.querySelectorAll('#product');
        products.forEach(product => {
            const width = product.offsetWidth;
            product.style.height = (width * 1.4) + 'px'; // Установите нужный коэффициент
        });

        // Обновляйте высоту при изменении размера окна
        window.addEventListener('resize', () => {
            products.forEach(product => {
                const width = product.offsetWidth;
                product.style.height = (width * 1.4) + 'px';
            });
        });
    });
    const selectElement = document.getElementById('select');
        const firstOption = selectElement.options[0]; // Получаем первую опцию

        selectElement.addEventListener('focus', function() {
            firstOption.style.display = 'none'; // Скрыть первую опцию при открытии
        });

        selectElement.addEventListener('blur', function() {
            firstOption.style.display = 'block'; // Показать первую опцию при закрытии
        });

</script>
</body>
</html>