* {
    margin: 0px;
    padding: 0px;
}


body {
    min-width: 700px;
    margin: 0vw 10vw;
    background: linear-gradient(0.25turn, rgb(169, 206, 218),rgb(196, 209, 213),rgb(169, 206, 218));
}


a {
    color: black;
}


.header {
    background-color: rgba(128,128,128, 0.8);
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}


.navBody {
    margin-top: 2px;
    background-color: rgba(120,120,120,0.6);
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 5px 5px;
}


.nav div, .nav2 div {
    margin: 2px;
    border-radius: 10px;
}


.exit {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    padding: 10px;
    cursor: pointer;
}


.nav, .nav2 {
    display: flex;
}


.nav div, .nav2 div {
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: 0.5s;
}


.nav div:hover, .nav2 div:hover {
    background-color: rgba(50,50,50,0.3);
}


.nav a, .nav2 a {
    text-decoration:none;
}




.mainContainer {
    width: 60%;
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    margin-top: 5px;
    border-collapse: separate;
    border-spacing: 0px 10px;
}


td  {
    margin: 5px 0px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 120px;
    background-color: rgba(135, 206, 250, 0.3);
}
td img{
    width: 120px;
    height: 120px;
}

th{
    background-color: rgba(0, 191, 255, 0.2);
    height: 50px;
}

#sideCol {
    width: 40px;
    background-color: rgba(255,255,255,0);
}

#deleteButton {
    font-size: 40px;
    background-color: rgba(255,255,255,0);
    height:40px;
    line-height: 40px;
    border: none;
    transition: .3s;
    cursor: pointer;

}

#deleteButton:hover {
    color: red;
}

.emptyOrders {
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tfooter {
    height: 30px !important;
}

